.container{
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.rem;
}

.button:disabled{
    cursor: not-allowed;
}