.container{
    background-color: var(--bgSoft);
    padding: 1.2rem;
    border-radius: 0.6rem;
}

.title{
    margin-bottom: 1.2rem;
    font-weight: 200;
    color: var(--textSoft);
}

.table{
    width: 100%;
}

.table td{
    padding: 0.7rem;
}

.user{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.userImg{
    border-radius: 50%;
    object-fit: contain;
}

.status{
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: 0.8rem;
    font-size:0.8rem;
}

.pending{
    background-color: #f7cb7375;
}
.done{
    background-color: #afd6ee75;
}
.cancelled{
    background-color: #f7737375;
}