.container{
    display: flex;
    gap: 2.4rem;
    margin: 1.2rem;
}

.infoContainer{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
    color: var(--textSoft);
    height: max-content;
    max-width: 15rem;
    min-width: 10rem;
}

.imgContainer{
    width: 100%;
    height: 14rem;
    position:relative;
    border-radius: 0.6rem;    
    overflow: hidden;
    margin-bottom: 1.2rem;
    
}

.formContainer{
    flex: 3;
    background-color: var(--bgSoft);
    padding: 1.2rem;
    border-radius: 0.4rem;
    
    max-width: 70%;
}

.form{
    display: flex;
    flex-direction: column;
}
.form label{
    font-size: 1.2rem;
}

.form input, .form textarea, .form select{
    padding: 0.8rem;
    background-color: var(--bg);
    border: 0.1 solid #2e374a;
    border-radius: 0.4rem;
    color: var(--text);
    margin: 0.8rem 0rem;
}

.form button{
    width:100%;
    margin-top: 0.8rem;
    padding: 0.8rem;
    background-color: teal;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

